#logo {
    margin: 20px;
}

body {
	font-family: 'font', Arial, sans-serif;
    background-color: black;
    color: lime;
    vertical-align: baseline
}

header {
    margin: 0 15.5% 0 15.5%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

.button {
    font-family: "calibri";
    display: inline-block;
    text-decoration: none;
    color: #008000;
    padding: 8px 16px;
    border: 1px solid #008000;
}

.project-links {
    margin: 0 0 10px 0;
}

.login-button {
	font-family: "calibri";
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#header-h125 {
    font-family: "COURIER NEW";
	color: green;
	background-color: black;
}

#header-h125::placeholder {
  color: lime;
}

#header-h123 {
    font-family: "COURIER NEW";
}

#footer-p {
    font-family: "COURIER NEW";
}

footer {
    margin: 0 18% 0 18%;
    padding: 13px;
    border-radius: 13px;
    text-align: center;
    border: 2px solid;
}

main {
    margin: 50px 17% 50px 17%;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 24px;
}

form {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.input2 {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button123 {
    display: inline-block;
    text-decoration: none;
	font-family: "calibri";
    text-decoration: none;
    color: lime;
	background-color: black;
    border: 1px solid #008000;
}

#inoo {
  width: 100%;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

.input2:hover {
  background-color: #45a049;
}

button {
  width: 100%;
  padding: 8px 16px;
  background-color: #4CAF50;
  border: none;
  color: #008000;
}

button:hover {
  background-color: #45a049;
}

.login-button1 {
	font-family: "calibri";
    position: fixed;
    top: 20px;
    right: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button2 {
	font-family: "calibri";
	position: fixed;
	top: 20px;
    right: 500px;
	padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button3 {
	font-family: "calibri";
	position: fixed;
	top: 20px;
    right: 300px;
	padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
