#logo {
    margin: 20px;
}

@font-face {
	font-family: 'font'; 
	src: url(/fonts/font.ttf); 
}

body {
	font-family: 'font', Arial, sans-serif;
    background-color: black;
    color: lime;
    vertical-align: baseline
}


header {
    margin: 0 15.5% 0 15.5%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#header-h125 {
    font-family: "COURIER NEW";
}

#header-h123 {
    font-family: "COURIER NEW";
}

#header-h2 {
    font-family: "COURIER NEW";
}

#header-p {
    font-family: "COURIER NEW";
}

main {
    margin: 50px 17% 50px 17%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

#main-h3 {
    font-family: "COURIER NEW";
}

footer {
    margin: 0 18% 0 18%;
    padding: 13px;
    border-radius: 13px;
    text-align: center;
    border: 2px solid;
}

#footer-p {
    font-family: "COURIER NEW";
}

a {
    color: #FF8000;
    text-decoration: none;
}

/* PROJECTS */


.project-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 48px;
}

@media (max-width: 1024px) {
    .project-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.project {
    border: 1px solid;
    border-radius: 15px;
}

.project-image {
    margin-top: 20px;
}

.project-languages {
    padding: 8px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: "COURIER NEW";
}

.project-name {
    font-family: "COURIER NEW";
}

.project-description {
    font-family: "COURIER NEW";
}

.project-links {
    margin: 0 0 10px 0;
}

.button {
    font-family: "calibri";
    display: inline-block;
    text-decoration: none;
    color: #008000;
    padding: 8px 16px;
    border: 1px solid #008000;
}

.button:hover {
    background-color: #ffffff2a
}


.login-button {
	font-family: "calibri";
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button1 {
	font-family: "calibri";
    position: fixed;
    top: 20px;
    right: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button2 {
	font-family: "calibri";
	position: fixed;
	top: 20px;
    right: 500px;
	padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button3 {
	font-family: "calibri";
	position: fixed;
	top: 20px;
    right: 300px;
	padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#logo1 {
    position: fixed;
    top: 15px;
    right: 1350px;
    padding: 10px 20px;
}#logo {
    margin: 20px;
}

@font-face {
	font-family: 'font'; 
	src: url(/fonts/font.ttf); 
}

body {
	font-family: 'font', Arial, sans-serif;
    background-color: black;
    color: lime;
    vertical-align: baseline
}


header {
    margin: 0 15.5% 0 15.5%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#header-h125 {
    font-family: "COURIER NEW";
}

#header-h123 {
    font-family: "COURIER NEW";
}

#header-h2 {
    font-family: "COURIER NEW";
}

#header-p {
    font-family: "COURIER NEW";
}

main {
    margin: 50px 17% 50px 17%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: solid;
}

#main-h3 {
    font-family: "COURIER NEW";
}

footer {
    margin: 0 18% 0 18%;
    padding: 13px;
    border-radius: 13px;
    text-align: center;
    border: 2px solid;
}

#footer-p {
    font-family: "COURIER NEW";
}

a {
    color: #FF8000;
    text-decoration: none;
}

/* PROJECTS */


.project-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 48px;
}

@media (max-width: 1024px) {
    .project-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.project {
    border: 1px solid;
    border-radius: 15px;
}

.project-image {
    margin-top: 20px;
}

.project-languages {
    padding: 8px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-family: "COURIER NEW";
}

.project-name {
    font-family: "COURIER NEW";
}

.project-description {
    font-family: "COURIER NEW";
}

.project-links {
    margin: 0 0 10px 0;
}

.button {
    font-family: "calibri";
    display: inline-block;
    text-decoration: none;
    color: #008000;
    padding: 8px 16px;
    border: 1px solid #008000;
}

.button:hover {
    background-color: #ffffff2a
}


.login-button {
	font-family: "calibri";
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button1 {
	font-family: "calibri";
    position: fixed;
    top: 20px;
    right: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button2 {
	font-family: "calibri";
	position: fixed;
	top: 20px;
    right: 500px;
	padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.login-button3 {
	font-family: "calibri";
	position: fixed;
	top: 20px;
    right: 300px;
	padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#logo1 {
    position: fixed;
    top: 15px;
    right: 1350px;
    padding: 10px 20px;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  max-width: 320px; /* Задайте желаемую максимальную ширину */
  color: #fff;
  font-family: "COURIER NEW";
  color: lime;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 7.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green }
